.sr-app-frame {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center top; }

.sr-app-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.sr-header-wrap {
  height: 101px; }

.sr-top-bar {
  background: transparent;
  color: #7d7d7d;
  padding: 1rem;
  border-bottom: none; }

.sr-login-call {
  margin-right: 1.25rem; }

.sr-login-button {
  font-size: 0.72rem;
  background: #0eb78d;
  color: #fff;
  margin: 1.2rem 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem; }
  .sr-login-button:hover, .sr-login-button:focus {
    background: #0c9c78;
    color: #fff; }

.sr-login-form-btn {
  font-size: 0.9rem;
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background: #0eb78d;
  color: #fff; }
  .sr-login-form-btn:hover, .sr-login-form-btn:focus {
    background: #0c9c78;
    color: #fff; }

.sr-ui-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  min-height: 532px; }

.sr-footer-wrap {
  bottom: 20px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.sr-footer-menu {
  /*
    Orientation
  */
  overflow-x: hidden;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  /*
    Stretch
  */ }
  .sr-footer-menu > li > a {
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0; }
  .sr-footer-menu > li > a {
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
  .sr-footer-menu > li {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }

.sr-home-view-container {
  text-align: center; }

.sr-icon-block {
  margin-top: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.sr-icon-content {
  display: block;
  padding: 0 1rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-flex: 0 0 41.66667%;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%; }
  .sr-icon-content p {
    font-size: 1.4rem; }

.sr-conjunct {
  display: block;
  padding: 0 1rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-flex: 0 0 16.66667%;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .sr-conjunct p {
    margin: auto; }

.sr-door-icon {
  color: #0eb78d; }
  .sr-door-icon img:hover, .sr-door-icon img:hover p {
    color: #0b9170; }
  .sr-door-icon :hover, .sr-door-icon :hover p {
    color: #0b9170 !important; }

.sr-torch-icon {
  color: #b5002a; }
  .sr-torch-icon :hover, .sr-torch-icon :hover p {
    color: #0b9170; }

.sr-intro-view-wrap {
  text-align: center; }

.sr-intro-view-content {
  display: block;
  padding: 0 1rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.sr-intro-head {
  font-size: 1.5rem;
  color: #0eb78d; }

.sr-intro-info {
  font-size: 1.1rem;
  padding: 20px;
  margin: 20px auto; }

.sr-quest-content {
  background-color: #e6e2e1;
  border: 2px solid #0eb78d;
  padding: 20px;
  border-radius: 18px; }

.sr-quest-view-wrap {
  text-align: center; }

.sr-category-control {
  background: #e6e2e1;
  border-radius: 4px; }

.sr-category-heading {
  color: #0eb78d; }

.sr-category-description {
  font-size: 0.8rem;
  color: #6d5f5b; }

.sr-category-button {
  min-width: 150px; }

.sr-progress-bar {
  margin-top: 30px;
  color: #7b6b67;
  font-size: 0.8rem; }

.sr-progress-1 {
  font-size: 0.6rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #c3bab7;
  color: #fff; }

.sr-progress-2 {
  font-size: 0.6rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #c3bab7;
  color: #fff; }

.sr-quest {
  background: #dfdad9;
  color: #0da47e;
  font-size: 1.4rem;
  padding: 1rem;
  margin-top: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #c6bcba;
  border-bottom: none; }

.sr-sub-quest {
  background: #cac2c0;
  color: #5f524f;
  font-size: 2.0rem;
  font-weight: bold;
  padding: 1.2rem;
  border-left: 1px solid #c6bcba;
  border-right: 1px solid #c6bcba; }

.sr-quest-opt {
  background: #d8d2d0;
  position: relative;
  color: #6d5f5b;
  padding: 1.5rem 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #c6bcba;
  border-top: none; }
  .sr-quest-opt :after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

.sr-range {
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  width: 90%; }
  .sr-range li {
    float: left;
    width: 14.285%; }

.sr-range li figure:hover, .sr-range li figure:checked, .sr-range-selected {
  background: #0fc598 !important; }

.sr-range li figure {
  width: 25px;
  height: 25px;
  border: 5px solid #c8c4c3;
  margin: auto;
  cursor: pointer;
  border-radius: 1000px; }
  @media only screen and (min-width: 40em) {
    .sr-range li figure {
      width: 60px;
      height: 60px;
      border: 8px solid #c6c1c0;
      margin: auto;
      cursor: pointer;
      border-radius: 1000px; } }

.sr-range :last-child figure {
  background: #d90032; }

.sr-range li:nth-of-type(6) figure {
  background: #f70039; }

.sr-range li:nth-of-type(5) figure {
  background: #ff1c51; }

.sr-range li:nth-of-type(4) figure {
  background: #ff4f78; }

.sr-range li:nth-of-type(3) figure {
  background: #ff829f; }

.sr-range li:nth-of-type(2) figure {
  background: #ffb5c6; }

.sr-range :first-child figure {
  background: #ffe8ed; }

.sr-range li:nth-of-type(2) figcaption,
.sr-range li:nth-of-type(3) figcaption,
.sr-range li:nth-of-type(5) figcaption,
.sr-range li:nth-of-type(6) figcaption {
  visibility: hidden; }

.sr-range figcaption {
  font-size: 0.6rem;
  line-height: 0.7rem; }
  @media only screen and (min-width: 40em) {
    .sr-range figcaption {
      font-size: 0.8rem;
      line-height: 1rem;
      margin-top: 5px; } }

.sr-form-field {
  width: 90%;
  margin: 15px auto; }

span.sr-single-select-type:only-of-type {
  width: 100%; }

.sr-single-select-type {
  float: left;
  min-width: 50%; }
  @media only screen and (min-width: 40em) {
    .sr-single-select-type {
      min-width: 50%; } }
  .sr-single-select-type :after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

.sr-single-select-block {
  display: table;
  width: 100%;
  height: 40px;
  padding: 1rem; }
  .sr-single-select-block :hover {
    background: #0da982;
    color: white; }
    .sr-single-select-block :hover label {
      color: white; }
  .sr-single-select-block label {
    height: 100%; }

.sr-radio-select-button {
  display: table;
  width: 100%;
  box-sizing: border-box;
  background: #e6e2e1;
  cursor: pointer;
  border: 1px solid #cfc7c5;
  line-height: 0.8rem;
  padding: 0 12px;
  vertical-align: middle;
  text-align: center;
  border-radius: 1000px;
  overflow-y: hidden; }
  .sr-radio-select-button label {
    display: table-cell;
    cursor: pointer;
    width: 70%;
    height: 100%;
    font-size: 0.9rem;
    font-weight: bold;
    color: #6d5f5b;
    line-height: 1rem;
    vertical-align: middle; }
  .sr-radio-select-button input {
    display: table-cell;
    vertical-align: middle;
    height: 40px; }

.sr-select-box {
  width: 100%; }

.sr-multi-select-field {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-flex: 0 0 91.66667%;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  overflow: visible;
  list-style-type: none;
  list-style-type: none;
  margin: 15px auto; }
  .sr-multi-select-field > li, .sr-multi-select-field > div, .sr-multi-select-field > section {
    padding: 0 1rem 1rem;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  @media only screen and (min-width: 40em) {
    .sr-multi-select-field {
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      overflow: visible;
      list-style-type: none; }
      .sr-multi-select-field > li, .sr-multi-select-field > div, .sr-multi-select-field > section {
        padding: 0 1rem 1rem;
        -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%; } }
  @media only screen and (min-width: 75em) {
    .sr-multi-select-field {
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      overflow: visible;
      list-style-type: none; }
      .sr-multi-select-field > li, .sr-multi-select-field > div, .sr-multi-select-field > section {
        padding: 0 1rem 1rem;
        -webkit-flex: 0 0 25%;
            -ms-flex: 0 0 25%;
                flex: 0 0 25%;
        max-width: 25%; } }

.sr-checkbox-block {
  padding: 5px !important;
  display: block;
  padding: 0 1rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: hidden; }
  .sr-checkbox-block :hover {
    background: #0da982;
    color: white; }
    .sr-checkbox-block :hover label {
      color: #fff; }

.sr-multi-select-button {
  width: 100%;
  display: table;
  background: #e6e2e1;
  border: 1px solid #cfc7c5;
  border-radius: 5px;
  cursor: pointer;
  line-height: 0.8rem;
  vertical-align: middle;
  text-align: center; }
  .sr-multi-select-button label {
    display: table-cell;
    cursor: pointer;
    width: 70%;
    height: 100%;
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: bold;
    color: #6d5f5b;
    vertical-align: middle;
    text-align: right; }
  .sr-multi-select-button input {
    display: table-cell;
    vertical-align: middle;
    height: 40px; }

.sr-selected-button {
  background: #0eb78d !important;
  color: white;
  border: 1px solid #0eb78d; }
  .sr-selected-button label {
    color: white; }
  .sr-selected-button :hover {
    background: #0eb78d;
    color: white; }

input[type="text"], input[type="password"],
input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"],
input[type="number"], input[type="search"],
input[type="tel"], input[type="time"], input[type="url"],
input[type="color"], textarea, select {
  border-radius: 4px; }

input[type="radio"] + label, input[type="checkbox"] + label {
  margin-left: 0.8rem;
  margin-right: 0;
  margin-bottom: 0;
  vertical-align: middle; }

.sr-quest-nav {
  background: transparent;
  color: #7d7d7d;
  padding: 1rem;
  border-bottom: none;
  margin-top: 30px; }

.sr-back {
  text-align: left; }
  .sr-back img {
    width: 45px;
    height: 45px; }

.sr-save {
  text-align: center; }
  .sr-save img {
    width: 45px;
    height: 45px; }

.sr-forward {
  text-align: right; }
  .sr-forward img {
    width: 45px;
    height: 45px; }

.sr-back :hover, .sr-save :hover, .sr-forward :hover {
  opacity: 0.5; }
