
<div class="sr-quest-view-wrap">

    <div class="sr-quest-content">

        <img class="sr-quest-icon" src="../assets/img/quest_placeholder.png">

        <div class="col-xs-12" ng-switch on="question_status">
        <div class="col-xs-12" ng-switch-when="startNewcategory" ng-init="get_category()" >
            <div class="col-xs-12">
                <h2 ng-bind="cat_data[0].title"></h2>
            </div>
            <div class="col-xs-12">
                <span ng-bind="cat_data[0].description"></span>
            </div>
            <div class="col-xs-12">
                <button ng-click="get_questions()">Start</button>
            </div>
        </div>
        <div class="col-xs-12" ng-switch-when="getQuestions">
            <div class="col-xs-12"><span ng-bind="currQ+1"></span> Of <span ng-bind="ques_data.length"></span></div>
            <h3 class="sr-quest" ng-bind="ques_data[currQ].q_text"></h3>
            <h4 class="sr-sub-quest">Sub-Text</h4>
            <div class="col-xs-12">
                <div class="col-xs-12" ng-if="ques_data[currQ].q_type=='tb'" ng-repeat="rep in getNumber(ques_data[currQ].q_responseMax)">
                    <input type="text" ng-model="ques_data[currQ].res[$index]" />
                </div>
                <div class="col-xs-12" ng-if="ques_data[currQ].q_type=='mp'" ng-init="breakoptions(ques_data[currQ])">
                    <div ng-if="ques_data[currQ].q_responseMax==1" >
                        <span ng-repeat="opt in ques_data[currQ].resp">
                            <span ng-if="(opt.item.indexOf('()')===-1)">
                                <input type="radio"  name="{{ques_data[currQ].q_no}}" ng-model="opt.value" value="{{opt.item}}" /> <label ng-bind="opt.item"></label>
                            </span>
                            <span ng-if="!(opt.item.indexOf('()')===-1)">
                                <select class="input_xs col-xs-18" ng-model="opt.value" ng-options="option.value as option.name for option in selection">
                                	</select>
                            </span>

                        </span>
                    </div>
                    <div ng-if="ques_data[currQ].q_responseMax==0 || ques_data[currQ].q_responseMax>1 ">
                        <span ng-repeat="opt in ques_data[currQ].resp">
                            <input type="checkbox"  name="{{ques_data[currQ].q_no}}" ng-model="opt.value" value="{{opt.item}}" /> <label ng-bind="opt.item"></label>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="ques_data[currQ].q_type=='s'" ng-init="breakoptions(ques_data[currQ])">
                    <span ng-repeat="opt in ques_data[currQ].resp">
                        <input type="radio"  name="{{ques_data[currQ].q_no}}" ng-model="opt.value" value="{{opt.item}}" /> <label ng-bind="opt.item"></label>
                    </span>
                </div>
                <div class="col-xs-12" ng-if="ques_data[currQ].q_type=='sm'" ng-init="breakoptions(ques_data[currQ])">
                    <div ng-repeat="opt in ques_data[currQ].resp">
                        <span ng-bind="opt.item"></span>
                        <span ng-repeat="scale in opt.respScale">
                            <input type="radio"  name="{{$parent.$index}}" ng-model="scale.value" value="{{scale.item}}" /> <label ng-bind="scale.item"></label>
                        </span>
                    </div>
                </div>

            <div class="sr-quest-opt sr-range">
               <ul>
                   <li>
                       <figure></figure>
                       <figcaption>Not At All</figcaption>
                   </li>

                    <li>
                       <figure></figure>
                       <figcaption>  range 6</figcaption>
                   </li>

                    <li>
                       <figure></figure>
                       <figcaption> range 5</figcaption>
                   </li>

                    <li>
                       <figure></figure>
                       <figcaption>Somewhat</figcaption>
                   </li>

                    <li>
                       <figure></figure>
                       <figcaption>range 3</figcaption>
                   </li>

                    <li>
                       <figure></figure>
                       <figcaption>range 2</figcaption>
                   </li>

                    <li>
                       <figure></figure>
                       <figcaption>Very Well</figcaption>
                   </li>
               </ul>

            </div>
        </div>
        <div class="sr-quest-nav">
            <a ui-sref="" ng-click="goback()" class="sr-back"><img src="../App/app/assets/img/back.png"></a>
            <a ui-sref="" class="sr-save"><img src="../App/app/assets/img/save.png"></a>
            <a ui-sref="" ng-click="next()" class="sr-forward"><img src="../App/app/assets/img/forward.png"></a>
        </div>
    </div>


</div>
