<div class="" style="padding:5px 15px; background:#ccc; color:#555"> <h2>Add New Question</h2></div>
<form  ng-submit="addq(qdata)" >
<div class="" style="padding:10px; background:#eee; color:#555">
  <div><b>Select Question Category</b></div>
    <span>
      <select required ng-options="option.c_id as option.c_name for option in categories" ng-model="qdata.cat">
      </select>
    </span>
</div>
<div class="" style="padding:10px; background:#bbb; color:#555">
  <div><b>Select Question Type</b></div>
    <div>
      <select required ng-options="option.value as option.name for option in qtype"  ng-model="qdata.qtype">
      </select>
    </div>
</div>
<div class="" style="padding:10px; background:#eee; color:#555">
  <div><b>Question Text</b></div>
    <div>
      <textarea required ng-model="qdata.qtext"  cols="40" rows="5"></textarea>
    </div>
</div>
<div class="" style="padding:10px; background:#bbb; color:#555">
  <div><b>Response Options</b></div>
    <div>
      <textarea  ng-model="qdata.qreponse"  cols="50" rows="8"></textarea>
    </div>
</div>
<div class="" style="padding:10px; background:#eee; color:#555">
  <div><b>Measuring Scale</b></div>
    <div><select name="q_scale_opt" id="q_scale" class="seo">
        <option  value="">Popular Scales</option>
        <option  value="Not Important">Not Important</option>
        <option  value="Important">Important</option>
        <option  value="Very Important">Very Important</option>
        <option  value="Not me at all">Not me at all</option>
        <option  value="Slightly me">Slightly me</option>
        <option  value="That’s exactly me">That’s exactly me</option>
        <option  value="Almost"> Almost</option>
        <option  value="Never">Never</option>
        <option  value="Sometimes">Sometimes</option>
        <option  value="Most times">Most times</option>
        <option  value="Not interested">Not interested</option>
        <option  value="Somewhat interested">Somewhat interested</option>
        <option  value="Very interested">Very interested</option>
        </select>
    </div>
    <div>
      <textarea ng-model="qdata.qscale"  cols="50" rows="8"></textarea>
    </div>
</div>
<div class="" style="padding:10px; background:#bbb; color:#555">
  <div><b>Min Response</b></div>
    <div><input type="text" name="min_response" ng-model="qdata.qminreponse"/></div>
</div>
<div class="" style="padding:10px; background:#eee; color:#555">
  <div><b>Max Response</b></div>
    <div><input type="text" name="max_response" ng-model="qdata.qmaxreponse" ></div>
</div>
<div class="" style="padding:10px; background:#eee; color:#555">
  <div><b>Question Weight</b></div>
    <div><input type="text" name="q_weight"  ng-model="qdata.qweight" ></div>
</div>
<div  style="padding:10px; " ><input type="submit" value="Add Question" name="AddQ" /></div>
</form>
