<div class="" style="padding:5px 15px; background:#ccc; color:#555"><h2>Update Question Bank</h2></div>
<div class="" style="padding:10px; background:#eee; color:#555">
    <div><a href="#/addnewq">Add New Question</a></div>
  </div>
  <div class="" style="padding:10px; background:#bbb; color:#555">
    <div><a href="#/AddC">Add New Category</a></div>
  </div>
  <div class="" style="padding:10px; background:#eee; color:#555">
    <div><a href="#/viewallQ">View All Question</a></div>
  </div>
  <div class="" style="padding:10px; background:#eee; color:#555">
    <div><a href="#/viewallc">View All Categories</a></div>
  </div>
  <div class="" style="padding:10px; background:#eee; color:#555">
    <div><a href="#/match">Add Match Questions</a></div>
  </div>
  <div class="" style="padding:10px; background:#eee; color:#555">
    <div><a href="#/vmatch">View Match Questions</a></div>
  </div>
  <div class="" style="padding:10px; background:#eee; color:#555">
    <div><a href="#/uprofile">User Profiles</a></div>
  </div>
  <div  style="padding:10px;"><b>Last Updated :</b> <span ng-bind="init_data.last_update"></span></div>
  <div  style="padding:10px;"><b>Total Questions :</b><span ng-bind="init_data.total_question"></span></div>
