<div class="sr-view-wrap">
    <div class="sr-view-content">
        <div class="sr-hero" style="min-height:400px;">
            <h2 class="sr-head-block">We are The Exclusives</h2>
            <p class="sr-info-block">
               We believe that just because you are smart, ambitious and somewhat popular, doesn't mean you can't find love. Some say you are picky, but we say you damn well know your onions!
            </p>
            <p>
                So we have deciced to create a network of people who want to meet people just like you.
            </p>
            <p>
                We are glad you found your way here!
            </p>
            <div style = "width:360px; margin: auto;">
              <a ng-click="start()" class="sr-go-button">Lets Help you find Your Match</a>
            </div>
        </div>
<!--
        <div class="sr-section">

        </div>
-->
    </div>
</div>
