<div class="sr-view-wrap full-section">
    <div ng-show = 'loading' class="sr-section full-section" style="text-align:center;">
        <div class = "loader"></div>
    </div>
    <div ng-hide = 'loading' class="sr-view-content full-section">
      <div class="sr-section" style="text-align:center;">
            <h2>Hello <span ng-bind="user.name"></span>!</h2>
            <div><span ng-bind="user.email"></span></div>

      </div>
      <div ng-show = "user.status == 'registeredandAccepted' || user.lastquestionId == 56" style = "width:360px; margin: auto;">
          <div style="text-align:center;">Bravo! You have successfully completed your profile. Our representative will contact you shortly.</div>
      </div>
      <div ng-hide = "user.status == 'registeredandAccepted'" class="sr-section full-section" style="text-align:center;">

            <h2 ng-if="user.lastquestionId < 56">Your Profile is not Complete</h2>
<!--            <div>You have answered <span ng-bind="total_que"></span> questions</div>-->
            <p ng-if="user.lastquestionId < 56">Your are currently on level <span ng-bind="user.currentlevel"></span> of 5 </p>
            <div style = "width:360px; margin: auto;">
                <input ng-if="user.lastquestionId < 56" type="button" ng-click="loadquestions()" value="Complete Your Profile" class="sr-go-button"/>
            </div>
        </div>
    </div>
</div>
