<div class="sr-view-wrap">
      <div class="sr-view-content">

        <div class="sr-hero intro-banner">
           <h2 class=""> Welcome to "The Exclusives!" </h2>
            <p class="">
               The internet's best kept secret for smart, ambitious, & <br/>busy people who don't need a dating app to find a date.
            </p>
            <p>
                 <button ng-click="start()" class="sr-go-button-alt">Complete your profile NOW </button><br/>to join the exclusives<br/>
    and get your friends on board too!
            </p>

        </div>

        <div class="sr-section sr-hero">
            <h3>We understand that your time is valuable<br/><span class="sub">so we've made our as process simple.</span></h3>
                <div class="sr-icon-block">
                    <div>
                        <img src="../images/icon-preferences.png"/>
                        <caption>Tell us your preferences</caption>
                    </div>

                    <div>
                        <img src="../images/icon-scout.png"/>
                        <caption>Allow us do the scouting</caption>
                    </div>

                    <div>
                        <img src="../images/icon-wait.png"/>
                        <caption>Wait for your match</caption>
                    </div>
                </div>

        </div>

        <div class="sr-section">
            <h3 class="">What makes us different?</h3>
            <div class="sr-illus-block">
                <div>
                   <img src="../images/illus-creeps.png"/>
                    <h3>No creepers!</h3>
                    <p class="sr-info-block">We will share your profile only with those that meet your preferences – the world doesn’t have to know you are on a prowl!</p>
                </div>
                <div>
                   <img src="../images/illus-fakes.png"/>
                    <h3>No fakes </h3>
                    <p class="sr-info-block">We’ve gone through the extra hassle to check that those in our network are who they say they are – finally safe!</p>
                </div>
                <div>
                   <img src="../images/illus-pokes.png"/>
                    <h3>No random Pokes!</h3>
                    <p class="sr-info-block">Our screening algorithm ensures our network is well-balanced and provides only the highest-quality matches.</p>
                </div>
                <div>
                   <img src="../images/illus-hide.png"/>
                    <h3>No shame</h3>
                    <p class="sr-info-block">You're hidden from friends, business connections and coworkers – It’s a well kept secret between you and us!</p>
                </div>
            </div>
        </div>
        <div class="sr-section sr-hero">

            <span class="banner-info-block">
                Sign up for our exclusive launch or roll out in your city.
            </span>

            <div id="mc_embed_signup" class="sign-up-block">
                <form action="//paddler.us13.list-manage.com/subscribe/post?u=1a65ad3e94027394e5541f508&amp;id=b120bcee5a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate row sign-up-form" target="_blank" novalidate class="sign-up-form row">

                    <div class="sign-up-input">
                        <label class="sign-up-label" for="mce-EMAIL" >Your Email  <span class="asterisk">*</span>
                        </label>
                        <input type="email" value="" name="EMAIL" class="sign-up-input" id="mce-EMAIL" placeholder="Your Email"/>
                    </div>


                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1a65ad3e94027394e5541f508_b120bcee5a" tabindex="-1" value=""/></div>

                    <div class="sign-up-submit">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="sign-up-button button"/>
                    </div>
                    <div id="mce-responses" class="sign-up-response clear small-12 columns centered">
                        <div class="response error" id="mce-error-response" style="display:none"></div>
                        <div class="response success" id="mce-success-response" style="display:none"></div>
                   </div>
                </form>
            </div>

        </div>


    </div>
</div>
