<div class="sr-view-wrap">

      <div class="sr-view-content">
        <div class="sr-info-group">
           <h2 class="sr-head-block">Welcome to "The Exclusives"!</h2>
            <p class="sr-info-block">
               We understand that you are smart, ambitous, busy, and people kinda know you. So you don’t need a dating app or a site to get a date!    — That’s enough reason to be on theExclusives!
            </p>
            <p class="sr-info-block">
                Your time is valuable — we get it!. So we have made the process simple.
                <img src="/images/">
                Think of us as that ‘aunty’…that just wants to get you hooked up!
            </p>
            <p class="sr-info-block">
                Complete your profile to be a part of the exclusives and get your friends to join! Android user? Sign up below to be part of our upcoming android roll-out!
            </p>
        </div>
        
        
        <div class="sr-info-group">
            <h2 class="sr-head-block">What makes us different</h2>
            <div>            
                <h3>No creepers!</h3>
                <p class="sr-info-block">We will share your profile only with those that meet your prefernces – the world doesn’t have to know you are on a prowl!</p>
            </div>
            <div>
                <h3>No shame</h3>
                <p class="sr-info-block">You're hidden from friends, business connections and coworkers – It’s well kept a secret between you and us!</p>
            </div>
            <div>
                <h3>No random Pokes!</h3>
                <p class="sr-info-block">Our screening algorithm ensures our network is well-balanced and provides only the highest-quality matches.</p>
            </div>
            <div>
                <h3>No fakes </h3>
                <p class="sr-info-block">We’ve gone through the extra hassle to check that those in our network are who they say they are – finally safe!</p>
            </div>
        </div>
        
        <a ng-click="start()" class="sr-go-button">Start Questions</a>
    </div>
</div>
