<div class="sr-view-wrap">

      <div class="sr-view-content">
        <div class="sr-hero">
           <h2 class="">Welcome to "The Exclusives"!</h2>
            <p class="">
               The Premium Match-making platform for smart, ambitous & busy people who don’t need a dating app find a date.
            </p>
            
             <a ng-click="start()" class="sr-go-button">Find Your Match</a>
        </div>
        <div class="sr-section">
            <h3>We understand that your time is Valuable<br><span class="sub">so we've made our process is process simple.</span></h3>
                <div class="sr-icon-block">
                    <div>
                        <img src="../images/icon-preferences.png">
                        <caption>Tell us your preferences</caption>
                    </div>
                    
                    <div>
                        <img src="../images/icon-scout.png">
                        <caption>Allow us do the scouting</caption>
                    </div>
                    
                    <div>
                        <img src="../images/icon-wait.png">
                        <caption>Wait for your match</caption>
                    </div>
                </div>
               
                <span class="sub">Think of us as that ‘aunty’…that just wants to get you hooked up!</span>
        </div>
        
        
        <div class="sr-section">
            <h3 class="sr-image-block">What makes us different</h3>
            <div>            
                <h3>No creepers!</h3>
                <p class="sr-info-block">We will share your profile only with those that meet your prefernces – the world doesn’t have to know you are on a prowl!</p>
            </div>
            <div>
                <h3>No shame</h3>
                <p class="sr-info-block">You're hidden from friends, business connections and coworkers – It’s well kept a secret between you and us!</p>
            </div>
            <div>
                <h3>No random Pokes!</h3>
                <p class="sr-info-block">Our screening algorithm ensures our network is well-balanced and provides only the highest-quality matches.</p>
            </div>
            <div>
                <h3>No fakes </h3>
                <p class="sr-info-block">We’ve gone through the extra hassle to check that those in our network are who they say they are – finally safe!</p>
            </div>
        </div>
        <div class="sr-section">
           <p class="sr-info-block">
                Complete your profile to be a part of the exclusives and get your friends to join! Android user? Sign up below to be part of our upcoming android roll-out!
            </p>            
        </div>
        
       
    </div>
</div>
