<div class="sr-quest-view-wrap">

    <div class="sr-quest-status" ng-switch on="question_status">
        <div ng-switch-default class="sr-cat-control">
            <div class="sr-save-progress" ng-show="user.status=='new'">
                <h3 class="sr-">Quick Registration</h3>
                <h4 class="sr-" >Account Details</h4>
                <form ng-submit="save_response()" >
                   <input type="text" ng-model="user.email" placeholder="Type Email address" required />
                   <input type="password" ng-model="user.password" placeholder="Type Password" required />
                   <input type="submit" value="Submit" class="sr-go-button"/>
                   <div ng-bind="status"></div>
                </form>
            </div>
            <div  class="sr-save-progress" ng-show="user.status=='registered'">
                <h3 class="sr-">Registration Successful</h3>
                <div>Glad to have you on board!!! <br> Please, click the button below to continue.</div>
                <button class="sr-go-button" ng-click="get_category()">Continue</button>
            </div>
        </div>
        <div ng-switch-when="startNewcategory"   class="sr-cat-control">
           <img class="sr-cat-icon" src="../assets/img/quest_placeholder.png">
            <h2 class="sr-category-heading" ng-bind="que_data[user.currentlevel].title"></h2>
            <p class="sr-category-description" ng-bind="que_data[user.currentlevel].description"></p>
            <button class="sr-category-button" ng-click="get_questions(user.currentlevel)">Start</button>
        </div>

        <div ng-switch-when="getQuestions" class="sr-quest-control">
                <div class="sr-progress-meta">
                   <div class="sr-cat-icon-area" ng-if="que_data[user.currentlevel].title=='Personal Details'">
                       <div><img class="sr-cat-prog-icon" src="../images/boy3.png"></div>
                       <div>
                           <span class="screamer">Nothing good comes easy</span><br>
                           <span class="rider">But we’ve made these questions as easy as possible for you: That’s how much we care</span>
                       </div>
                       <div><img class="sr-cat-prog-icon" src="../images/girl3.png"></div>
                   </div>
                   <div class="sr-cat-icon-area" ng-if="que_data[user.currentlevel].title=='Professional Details'">
                       <div><img class="sr-cat-prog-icon" src="../images/boy2.png"></div>
                       <div>
                           <span class="screamer">Ah AH! <br>Your killing it...</span><br>
                           <span class="rider">We would love to see your JAMB scores...Really!! You’re answering these
questions like a boss</span>
                       </div>
                       <div><img class="sr-cat-prog-icon" src="../images/girl2.png"></div>
                   </div>
                   <div class="sr-cat-icon-area" ng-if="que_data[user.currentlevel].title=='Qualities'">
                       <div><img class="sr-cat-prog-icon" src="../images/boy1.png"></div>
                       <div>
                           <span class="screamer">Stay Focused</span><br>
                           <span class="rider">Somewhere at the other end of these questions your perfect match awaits you</span>
                       </div>
                       <div><img class="sr-cat-prog-icon" src="../images/girl1.png"></div>
                   </div>
                   <div class="sr-cat-icon-area" ng-if="que_data[user.currentlevel].title=='Personal Description'">
                        <div><img class="sr-cat-prog-icon" src="../images/boy4.png"></div>
                       <div>
                           <span class="screamer">Some flowers & <br>Some Awesomeness</span><br>
                           <span class="rider">We really can see your future, and it’s all lovey dovey *Wink Wink*</span>
                       </div>
                       <div><img class="sr-cat-prog-icon" src="../images/girl4.png"></div>
                   </div>
                   <div class="sr-cat-icon-area" ng-if="que_data[user.currentlevel].title=='Other Details'">
                       <div><img class="sr-cat-prog-icon" src="../images/boy5.png"></div>
                       <div>
                           <span class="screamer">Drum Roll Please<br>We are near the the!</span><br>
                           <span class="rider">t’s been a long day, but sharing it with you made it really worthwhile</span>
                       </div>
                       <div><img class="sr-cat-prog-icon" src="../images/girl5.png"></div>
                   </div>
                   <div class="sr-progress-bar">
                       <div class="sr-progress-text"></div>
                       <progress class="sr-progress" value="{{currQ+1}}" max="{{ques_data.length}}"></progress>
    <!--                       <span class="sr-progress-1" ng-bind="currQ+1"></span> of <span class="sr-progress-2" ng-bind="ques_data.length"></span>-->
                   </div>

                </div>
            <div class="sr-quest-content" >

                <h3 class="sr-quest" ng-bind="ques_data[currQ].q_text"></h3>


                <div class="option-wrap">
                    <div class="sr-quest-opt" ng-if="ques_data[currQ].q_type=='tb'" ng-repeat="rep in getNumber(ques_data[currQ].q_responseMax)">
                       <input type="text" ng-model="ques_data[currQ].resp[$index].value" />

                    </div>

                    <div class="" ng-if="ques_data[currQ].q_type=='mp'" ng-init="breakoptions(ques_data[currQ])">
                        <div class="sr-quest-opt" ng-if="ques_data[currQ].q_responseMax==1" >
                           <ul class="sr-form-field">
                               <li class="sr-opt-block" ng-repeat="opt in ques_data[currQ].resp">

                                    <div class="sr-radio-select" ng-if="(opt.item.indexOf('()')===-1)">
                                               <input type="radio" ng-click="next()" name="{{ques_data[currQ].q_no}}" ng-model="ques_data[currQ].value" value="{{opt.item}}" id="radio-{{opt.item}}"/>
                                                <label ng-bind="opt.item" for="radio-{{opt.item}}"></label>
                                    </div>

                                    <div class="sr-dropdown-select" ng-if="!(opt.item.indexOf('()')===-1)">
                                        <select class="sr-select-options" ng-model="opt.value" ng-options="option.value as option.name for option in selection">
                                        </select>
                                    </div>

                                </li>
                            </ul>
                        </div><!--sr-single-select-type-->

                         <div class="sr-quest-opt" ng-if="ques_data[currQ].q_responseMax==0 || ques_data[currQ].q_responseMax>1 ">
                            <ul class="sr-form-field">
                               <li class="sr-opt-block" ng-repeat="opt in ques_data[currQ].resp">
                                    <div class="sr-checkbox-select">
                                        <input type="checkbox"  name="{{ques_data[currQ].q_no}}" ng-model="opt.value" value="{{opt.item}}" id="check-{{opt.item}}"/>
                                       <label ng-bind="opt.item" for="check-{{opt.item}}"></label>
                                   </div>
                               </li>
                            </ul>
                         </div><!--sr-multi-select-type-->

                    </div><!--sr-quest-type-selection-->



                    <div class="sr-quest-type" ng-if="ques_data[currQ].q_type=='s'" ng-init="breakoptions(ques_data[currQ])">
                        <div class="sr-quest-opt">
                           <ul class="sr-range">
                               <li ng-repeat="rang in getNumber((ques_data[currQ].resp.length*3)-2) track by $index">
                                   <figure ng-click="range_select(ques_data[currQ], $index)"></figure>
                                   <figcaption ng-if="((4+$index) % 3 == 1)" ng-bind="ques_data[currQ].resp[($index/3)].item"></figcaption>
                                   <figcaption ng-if="!((4+$index) % 3 == 1)"> range{{((ques_data[currQ].resp.length*3)-2)-$index}}</figcaption>
                               </li>
                           </ul>
                       </div>
                    </div><!--sr-quest-type-range]-->



                    <div class="sr-quest-range-type" ng-if="ques_data[currQ].q_type=='sm'" ng-init="breakoptions(ques_data[currQ])">
                        <div class="sr-sub-quest"><span ng-bind="ques_data[currQ].resp[attnum].item"></span></div>
                        <div ng-click="moveattback()"></div>
                        <div class="sr-quest-opt">
                           <ul class="sr-range">
                               <li ng-repeat="rang in getNumber((ques_data[currQ].resp[attnum].respScale.length*3)-2) track by $index" >

                                        <div class="sr-fig" ng-click="moveattforward(ques_data[currQ].resp)" >
                                            <figure ng-click="ques_data[currQ].resp[attnum].respScale.value=$index">
                                           </figure>
                                       </div>
                                       <figcaption ng-if="((4+$index) % 3 == 1)" ng-bind="ques_data[currQ].resp[attnum].respScale[($index/3)].item"></figcaption>
                                       <figcaption ng-if="!((4+$index) % 3 == 1)"> range{{((ques_data[currQ].resp[attnum].respScale.length*3)-2)-$index}}
                                       </figcaption>
                               </li>
                           </ul>
                       </div>

                     </div><!--sr-quest-type-range[with sub quest]-->
                </div><!--  option-wrap-->




                <div ng-show="error" class="sr-error-message"><span  ng-bind="errorM"></span></div>

                <div class="sr-quest-nav">
                    <a  ng-click="goback()" class="sr-back">Back</a>
                    <a  class="sr-save"  ng-click="saving_response()" >Save</a>
                    <a ng-click="next()" class="sr-forward">Next</a>
                </div><!--sr-quest-nav-->
            </div><!--sr-quest-content-->
        </div><!--sr-quest-control-->
        <div ng-switch-when="save" class="sr-cat-control">
            <div ng-show="saved" class="sr-save-progress">
                <div ng-show="ques_data[currQ].q_no==84">
                    <h3 class="">We have your data</h3>
                    <h4 class="" >Now we can find a possible match for you </h4>
                    <div>
                        <label>
                            <input type="checkbox" ng-model="terms" style="display:block" />
                            I have read the understood the <a href="#/privacy">Privacy Policy </a>and <a href="#terms"> Terms and Conditions</a> of using this service.
                        </label>
                        <input type="button" ng-click="acceptTerms()" value="Continue" />

                    </div>
                </div>
                <div ng-show="ques_data[currQ].q_no<84">
                    <h3 class="">Progress Saved</h3>
                    <h4 class="" >You have to finish the questions to get a match</h4>
                    <a  class="sr-go-button" ng-click="changefromsave()">Continue</a>
                    <a href="#/account" class="sr-stop-button">Exit</a>
                </div>
            </div>
        </div>
    </div><!--sr-quest-status-->



</div><!--sr-quest-view-wrap-->
