
<div class="sr-quest-view-wrap">
   
    <div class="sr-quest-content">
       
        <img class="sr-quest-icon" src="../assets/img/quest_placeholder.png">
        
        <h3 class="sr-quest">Question main text section?</h3>
        <h4 class="sr-sub-quest">Sub-Text</h4>
        
        <div class="sr-quest-opt sr-range">
           <ul>
               <li>
                   <figure></figure>
                   <figcaption>Not At All</figcaption>
               </li>
               
                <li>
                   <figure></figure>
                   <figcaption>  range 6</figcaption>
               </li>
               
                <li>
                   <figure></figure>
                   <figcaption> range 5</figcaption>
               </li>
               
                <li>
                   <figure></figure>
                   <figcaption>Somewhat</figcaption>
               </li>
               
                <li>
                   <figure></figure>
                   <figcaption>range 3</figcaption>
               </li>
               
                <li>
                   <figure></figure>
                   <figcaption>range 2</figcaption>
               </li>
               
                <li>
                   <figure></figure>
                   <figcaption>Very Well</figcaption>
               </li>
           </ul>
            
        </div>
        
        <div class="sr-quest-nav">
            <a ui-sref="" class="sr-back"><img src="../assets/img/back.png"></a>
            <a ui-sref="" class="sr-save"><img src="../assets/img/save.png"></a>
            <a ui-sref="" class="sr-forward"><img src="../assets/img/forward.png"></a>
        </div>
    </div>
 

</div>
