<div class="sr-quest-view-wrap">

    <div class="sr-quest-content" >

        <img class="sr-quest-icon" src="../assets/img/quest_placeholder.png">

            <div class="sr-quest-status" ng-switch on="question_status">

                <div class="sr-category-control" ng-switch-when="startNewcategory" ng-init="get_category()" >
                    <h2 class="sr-category-heading" ng-bind="que_data[user.currentlevel].title"></h2>
                    <p class="sr-category-description" ng-bind="que_data[user.currentlevel].description"></p>
                    <button class="sr-category-button" ng-click="get_questions(user.currentlevel)">Start</button>
                </div>


                <div class="sr-quest-control" ng-switch-when="getQuestions">

                    <div class="sr-progress-bar">
                       <progress value="{{currQ+1}}" max="{{ques_data.length}}"></progress>
<!--                       <span class="sr-progress-1" ng-bind="currQ+1"></span> of <span class="sr-progress-2" ng-bind="ques_data.length"></span>-->
                    </div>

                    <h3 class="sr-quest" ng-bind="ques_data[currQ].q_text"></h3>


                        <div class="sr-quest-type-text sr-quest-opt" ng-if="ques_data[currQ].q_type=='tb'" ng-repeat="rep in getNumber(ques_data[currQ].q_responseMax)">
                           <form class="sr-form-field">
                               <input type="text" ng-model="ques_data[currQ].resp[$index].value" />
                           </form>
                       </div>


                        <div class="sr-quest-type-selection" ng-if="ques_data[currQ].q_type=='mp'" ng-init="breakoptions(ques_data[currQ])">

                            <div class="sr-quest-opt" ng-if="ques_data[currQ].q_responseMax==1" >
                               <form class="sr-form-field">
                                   <span class="sr-single-select-type" ng-repeat="opt in ques_data[currQ].resp">

                                        <div class="sr-single-select-block" ng-if="(opt.item.indexOf('()')===-1)">
                                               <div class="sr-radio-select-button">
                                                   <input type="radio"  name="{{ques_data[currQ].q_no}}" ng-model="ques_data[currQ].value" value="{{opt.item}}" id="radio-{{ques_data[currQ].q_no}}"/>
                                                    <label ng-bind="opt.item" for="radio-{{ques_data[currQ].q_no}}"></label>
                                                </div>
                                        </div>

                                        <div class="sr-select-box" ng-if="!(opt.item.indexOf('()')===-1)">
                                            <select class="sr-select-options" ng-model="opt.value" ng-options="option.value as option.name for option in selection">
                                            </select>
                                        </div>

                                    </span>
                                </form>
                             </div><!--sr-single-select-type-->

                             <div class="sr-multi-select-type sr-quest-opt" ng-if="ques_data[currQ].q_responseMax==0 || ques_data[currQ].q_responseMax>1 ">
                                <ul class="sr-multi-select-field">
                                   <li class="sr-checkbox-block" ng-repeat="opt in ques_data[currQ].resp">
                                        <span class="sr-multi-select-button">
                                            <input type="checkbox"  name="{{ques_data[currQ].q_no}}" ng-model="opt.value" value="{{opt.item}}" id="check-{{ques_data[currQ].q_no}}"/>
                                           <label ng-bind="opt.item" for="check-{{ques_data[currQ].q_no}}"></label>
                                       </span>
                                   </li>
                                </ul>
                             </div><!--sr-multi-select-type-->

                        </div><!--sr-quest-type-selection-->


                        <div class="sr-quest-type-range" ng-if="ques_data[currQ].q_type=='s'" ng-init="breakoptions(ques_data[currQ])">
                            <div class="sr-quest-opt">
                               <ul class="sr-range">
                                   <li ng-repeat="rang in getNumber((ques_data[currQ].resp.length*3)-2) track by $index">
                                       <figure ng-click="range_select(ques_data[currQ], $index)"></figure>
                                       <figcaption ng-if="((4+$index) % 3 == 1)" ng-bind="ques_data[currQ].resp[($index/3)].item"></figcaption>
                                       <figcaption ng-if="!((4+$index) % 3 == 1)"> range{{((ques_data[currQ].resp.length*3)-2)-$index}}</figcaption>
                                   </li>
                               </ul>
                           </div>
                        </div><!--sr-quest-type-range]-->


                        <div class="sr-quest-range-type" ng-if="ques_data[currQ].q_type=='sm'" ng-init="breakoptions(ques_data[currQ])">
                            <h4 class="sr-sub-quest"  ng-bind="ques_data[currQ].resp[attnum].item"></h4>
                            <span ng-click="moveattback()"></span>
                            <div class="sr-quest-opt">
                               <ul class="sr-range">
                                   <li ng-click="moveattforward(ques_data[currQ].resp)" ng-repeat="rang in    getNumber((ques_data[currQ].resp[attnum].respScale.length*3)-2) track by $index" >
                                       <figure ng-click="ques_data[currQ].resp[attnum].respScale.value=$index"></figure>
                                       <figcaption ng-if="((4+$index) % 3 == 1)" ng-bind="ques_data[currQ].resp[attnum].respScale[($index/3)].item"></figcaption>
                                       <figcaption ng-if="!((4+$index) % 3 == 1)"> range{{((ques_data[currQ].resp[attnum].respScale.length*3)-2)-$index}}
                                       </figcaption>
                                   </li>
                               </ul>
                           </div>

                        </div><!--sr-quest-type-range[with sub quest]-->



                        <div class="sr-error-message" ng-show="error" ng-bind="errorM"></div>

                </div><!--sr-quest-control-->
		<div ng-switch-when="save">
			<div class="sr-save-progress" ng-show="!saved">
				<h3 class="sr-">Save your progress</h3>
				<h4 class="sr-" >Account Details</h4>
                <form ng-submit="save_response()">
                   <input type="text" ng-model="user.email" placeholder="Type Email address" required />
                   <input type="password" ng-model="user.password" placeholder="Type Password" required />
                   <input type="submit" value="Submit"/>
                </form>
            </div>
            <div ng-show="saved">
                <div ng-show="ques_data[currQ].q_no==63">
	                <h3 class="">We have your data</h3>
					<h4 class="" >Now we can find a possible match for you </h4>
				</div>
				<div ng-show="ques_data[currQ].q_no<63">
	                <h3 class="">Progress Saved</h3>
					<h4 class="" >You have to finish the questions to get a match</h4>
					<a  class="sr-go-button" ng-click="changefromsave()">Continue</a>
					<a href="/#" class="sr-exit-button">Exit</a>
				</div>
            </div>
		</div>
                <div class="sr-quest-nav">
                    <a  ng-click="goback()" class="sr-back">Back</a>
                    <a  class="sr-save"  ng-click="saving_response()" >Save</a>
                    <a ng-click="next()" class="sr-forward">Next</a>
                </div><!--sr-quest-nav-->


            </div><!--sr-quest-status-->

    </div><!--sr-quest-content-->


</div><!--sr-quest-view-wrap-->
