<div class="sr-view-wrap">

      <div class="sr-view-content"><div class="sr-section">
        <div class="sr-info-group">
          
            <p class="sr-head-block">
               PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY. BY ACCESSING THIS SITE AND ANY PAGES THEREOF, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS BELOW. IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS BELOW, DO NOT ACCESS THIS SITE, OR ANY PAGES THEREOF.
            </p>
            <p class="sr-info-block">
                <h3>1. DEFINITIONS</h3>
                <ul>
                    <li>
                        <p>.1. In these Terms and Conditions the following words have the following meanings unless the context requires otherwise:</p>
                        <ul>
                            <li>a) "Agreement" means the agreement between the User and The Exclusive.</li>
                            <li>b)”Applicant” a person applying for Membership.</li>
                            <li>c) ”Intellectual Property Rights” means all patents, database rights, copyrights, registered and unregistered design rights, registered and unregistered trademarks and any other similar rights wherever existing in the world together with the right to apply for protection of the same;</li>
                            <li>d) “The Exclusive” means The Exclusive Company registered under the laws of the Federal Republic of Nigeria, with RC …………. having its principal place of business at ……………</li>
                            <li>e) ”Liability” means the liability for any and all damages, claims, proceedings, actions, awards, expenses, costs and any other losses or liabilities;</li>
                            <li>f) ”Member” means any person whose Membership has been accepted by The Exclusive and whose Membership remains valid for the time being;</li>
                            <li>g) ”Membership” the entitlement to the Services by virtue of being a Member;</li>
                            <li>h) ”Other User” means any person who browses the Web Site;</li>
                            <li>i) ”Posting” means displaying, exhibiting, publishing, distributing, transmitting or disclosing information, details or other material on the Service, and the phrases “Post” and “Posted” shall be constructed accordingly;</li>
                            <li>j) ”Profile” means the section of the containing details, photographs and/or information about the User composed and Posted by the User;</li>
                            <li>k) ”Service” means the service provided by The Exclusive to the User including, but not limited to, The Exclusive allowing the User to browse the Web Site, to contact and/or to be contacted by other Members through the Web Site and/or to Post information on the Web Site;</li>
                            <li>l) ”Terms and Conditions” the terms and conditions of use of the Services as represented by this Agreement and as varied and as amended by The Exclusive at its full discretion at any time and published accordingly on the Web Site.</li>
                            <li>m) ”User” means the person whose application for membership of the Service is accepted by The Exclusive.</li>
                            <li>n) ”Web Site” means the web site at URL www.theexclusive.com (or any such other URL that The Exclusive may use to provide the Service from at their discretion);</li>
                        </ul>
                    </li>
                    <li>
                        1.2. Unless the context otherwise requires, words in the singular include the plural and vice versa and words in one gender include any other gender.
                    </li>
                </ul>
                
    <h3>2. ELIGIBILITY </h3>
    <ul>
    <li>
        2.1. By accepting these conditions the Applicant warrants and represents to The Exclusive the following:
        <ul>        
            <li>a) that the Applicant is over 28 years old;</li>
            <li>b) that the Applicant has not been convicted of any offence relating to violence or any offence under the Protection from Harassment Act 1997 (or under any statutory enactment replacing or amending such Act) or any other similar statute; and/or</li>
            <li>c) that the Applicant has not been subject to any injunction or any order to pay damages under the Protection from Harassment Act 1997 (or under any statutory enactment replacing and/or amending such Act) or any similar statute.</li>
        </ul>
    </li>
    <li>
        2.2. If the Applicant is not able or not willing to give the warranties and representations set out in the above clause 2.1 above then the Applicant shall not apply for Membership.
    </li>
    <li>
        2.3. The warranties and representations set out in the above clause 2.1 shall be continuing for the duration of any Membership. Accordingly, if the Member becomes convicted of any offence relating to violence or any offence under the Protection from Harassment Act 1997 (or under any statutory enactment replacing and/or amending such Act) or any similar statute; or becomes subject to any injunction or any order to pay damages under the Protection from Harassment Act 1997 (or under any statutory enactment replacing or amending such Act) or any similar statute, then the Member must immediately notify The Exclusive and cease and desist from using the Services forthwith. The Membership shall be considered terminated immediately.
    </li>
    </ul>

    <h3>3. CONTRACT BASIS</h3>
    <ul>
    3.1. This is a legally binding agreement between the User and The Exclusive for the provision of the Service.
    3.2. The Terms and Conditions of use shall govern the Agreement between the User and The Exclusive to the exclusion of any other terms or conditions.
    The User agrees to abide by these Terms and Conditions as set out in this Agreement and any other terms and conditions as amended by The Exclusive from time to time at their full discretion.
    3.3. The Terms and Conditions as amended by The Exclusive from time to time supersede all other terms and conditions and shall replace any terms and conditions previously notified to the User.
    3.4. The Exclusive reserves the right to vary the Terms and Conditions at any time. If The Exclusive in its full discretion decides to vary the Terms and Conditions, any such updated Terms and Conditions will be posted on the Web Site from time to time as applicable.
    3.5. The Exclusive’s employees, including sub-contractors and agents are not authorized to make any representations or warranties concerning the Service unless confirmed by The Exclusive in writing.
    3.6. The User acknowledges that he or she does not rely on any representation and/or any warranty that has not been made in accordance with these Terms and Conditions.
    3.7. The Exclusive reserves the right to monitor and at its sole discretion to remove for any reason any information, photographs or any other material Posted by the User, Members or Other Users.
    3.8. The Exclusive shall have the right to refuse to register applications for Membership and to terminate Memberships at any time.
    3.9. The Agreement between the User and The Exclusive shall come into effect on the acceptance by The Exclusive of the application of the User for Membership. No application for Membership shall be deemed to be accepted by The Exclusive until the User has received confirmation of the Membership from The Exclusive by e-mail.
    3.10. The User will not be able to contact other Members until The Exclusive has received payment.
    3.11. The Exclusive reserves the right to make changes to the Service as required from time to time by law or applicable safety requirements provided that they do not have a material adverse effect on the quality of the Service.
    </ul>

    <h3>4. PRICE AND PAYMENT</h3>
    <ul>
    4.1. The price of the Service or increase in prices shall be communicated to members from time to time. 
    4.2. The prices are inclusive of any applicable VAT and any details given in relation to exchange rates are approximate only and may vary from time to time.
    4.3. The User shall pay all sums due to The Exclusive under this Agreement by the means of the payment specified on the Web Site or in writing and without any set-off, deduction, counterclaim or any other withholding of monies. Any applicable banking charges on such payments shall be borne by The Exclusive.
    4.4. Until The Exclusive has received either cash or cleared funds in respect of the full amount outstanding, payment shall not be deemed to be made.
    4.5. This Agreement may be terminated by either party at any time, for any reason by notice in writing. Termination of the Agreement by either party will be effective upon that party sending written notice to the other party of their intentions. The User must complete the relevant form on the Web Site to terminate the Agreement.
    4.6. All monies paid by the User to The Exclusive are non-refundable. A cancellation or termination of this Agreement by the User or The Exclusive at any time for any reason will not entitle the User to a refund of monies paid.
    4.7 When paying for a membership with The Exclusive with a credit card you will be automatically re-billed to renew your membership on its expiration. To cancel this re-billing option go to 'Account' then 'Settings' then “Subscription” where you need to click on the link “click here to disable”.
    </ul>
    
    <h3>5. MEMBER'S OBLIGATIONS</h3>
    <ul>
    5.1 The User undertakes not to:
    a) Post personal contact details in the relevant User’s Profile, including but not limited to the Users telephone number, address, e-mail address or URL in the relevant User’s Profile nor will the User Post any other information which would allow Other Users or Members to contact the User directly;
    b) transmit or Post information, pictures or any other material which breaches, infringes, violates or is contrary to any law, by-law, statute or regulation or any other parties' rights (including but not limited to Intellectual Property Rights and privacy rights);
    c) use the Service to promote another site, service or business in any way including but not limited to Posting any personal e-mail addresses, URL's or other personal telephone numbers in the respective User’s Profile;
    d) solicit other Members' business, or to buy or sell products or services through the Service;
    e) misuse in any way the Service or any information Posted or communicated on the Service;
    f) attempt to gain unauthorized access to any information available on the Service or to any of the networks used in providing the Service;
    g) Post or reproduce in any way any information or material in which the Intellectual Property Rights belong to another party without the prior consent of the owner of such rights;
    h) copy, in whole or in part any of the information on the Web Site (including, but not limited to any information contained in other Members’ Profiles) other than for the purposes contemplated in this Agreement;
    i) Post any chain letters or junk e-mail to other Members;
    j) in any way assign, transfer, part with or authorize any other person to use, the User’s Membership;
    k) transmit, Post or email to any other Member any information, pictures or other material, which in the opinion of The Exclusive is sexually explicit, racist, abusive, threatening, sexually suggestive, libellous or obscene; and/or
    l) transmit, Post or email to any other Member any information, pictures or other material, which in the reasonable opinion of The Exclusive is capable of offending Other Users’ political or religious beliefs.
    </ul>
    
    <h3>6. PROFILE</h3>
    <ul>
    6.1. The User acknowledges that Other Users will be able to access  their Profile.
    6.2. The Exclusive may copy or reproduce any information Posted by the User on the Web Site in any form and in any manner as The Exclusive may think fit.
    6.3. If the User decides to Posts or discloses any confidential or sensitive information about the User to Other Users, then the User does so entirely at the User’s own risk.
    6.5. The User warrants and represents to The Exclusive that all information Posted by the User
    a) is accurate, true, complete and is not misleading; and
    b) will be regularly updated by the User so that it remains accurate, true, complete and not misleading.
    6.6. The Exclusives reserves the right to review the Profile from time to time and to amend or delete the entire Profile or parts of it as The Exclusive in its sole discretion think that it should be amended or deleted.
    6.7. The Exclusives reserves the right to move member profiles back to the The Exclusive rating module to be voted on by existing members. As a consequence such action could result in removal of member profiles from the website. Such action can take place from time to time or as The Exclusive in its sole discretion deems this a necessary action.
    </ul>
    
    <h3>7. TERMINATION</h3>
    <ul>
    7.1. If:-
    a) the User fails to make any payment to The Exclusive when due;
    b) the User breaches the terms of this Agreement;
    c) the User persistently breaches the terms of this Agreement;
    d) the User fails upon request to provide The Exclusive with sufficient information to enable The Exclusive to determine the accuracy or validity of any information Posted by the User; and/or
    e) in The Exclusive’s reasonable opinion any information Posted by the User is damaging or potentially damaging to the interests of The Exclusive’s business, then The Exclusive shall have the right, without prejudice to any other remedy, to exercise any or all of the rights set out in clause 7.2 below.
    7.2. If any of the events set out in clause 7.1 above occurs in relation to The User then:-
    a) The Exclusive may terminate this Agreement with immediate effect;
    b) The Exclusive may immediately suspend or terminate the User’s access to the Service without notice; and/or
    c) all monies owed by the User to The Exclusive shall become immediately due and payable.
    7.3. Any failure by The Exclusive to enforce our rights to terminate the Agreement upon a breach of the terms of this Agreement by the User does not constitute a waiver of our rights and The Exclusive reserves to enforce our rights at any time.
    </ul>
        
    <h3>8. INTELLECTUAL PROPERTY RIGHTS AND CONFIDENTIALITY</h3>
    <ul>
    8.1. All Intellectual Property Rights in the Service shall be owned by The Exclusive absolutely or any such Company as The Exclusive may designate in its sole discretion.
    8.2. The User warrants and represents to The Exclusive that the information Posted in the Profile is posted by the User and that the User is the sole author of the Profile. The User assigns assign to The Exclusive with full title guarantee all copyright in the Profile.
    8.3. The User waives absolutely any and all moral right to be identified as author of the Profile and any similar rights in any jurisdiction.
    8.4. Except for such purposes as contemplated by this Agreement, the User undertakes to keep confidential and not to use any information relating to the Service which may be disclosed to the User or which the User may learn, except where such information is public knowledge or it is required to be disclosed by law.
    8.5. Except where such information is public knowledge or it is required to be disclosed by law, The Exclusive will use its reasonable commercial endeavours to keep confidential the User’s personal details such as surname, real e-mail address, house address, company address and credit card number(s) (where relevant) and will not disclose such information.
    </ul>
    
    <h3>9. GUARANTEE</h3>
    <ul>
    9.1. The Service is provided in its current form and The Exclusive does not guarantee that the Service or any element of the Service will meet the User’s requirements, purpose or expectations.
    9.2. The Exclusive does not warrant that any of the information or material provided in the Service is accurate.
    9.3. The Exclusive does not provide any warranty in respect of the Service, results, availability, or uninterrupted use of the Service.
    </ul>
    
    <h3>10. USE OF THE SERVICE</h3>
    <ul>
    10.1. The Web Site is merely a forum for Members to Post information about themselves and to allow the User to make contact with other Members through use of the Service.
    10.2. The User should be aware that information Posted by other Members on their profiles respective are only a description of how they describe themselves. The User should not assume that the information contained in any Profile is necessarily correct and accurate.
    10.3. The Exclusives will make reasonable effort as agreed by law to check that the Profiles of the Members or Other Users are correct and not misleading. 
    10.4. Before acting on any information contained in any Profile or on any information received by The Exclusives through the use of the Service, the User may at his or her own discretion , carry out such investigation as the User thinks is necessary to satisfy him or herself of the truth and accuracy of such information.
    10.5. Before arranging to meet a person through the use the of Service, The User should take such precautions as he or she may deem necessary to ensure the User’s personal safety.
    10.6. The Exclusive Network has a strict ban on pornography. Uploading or displaying pornographic content of any kind will result in immediate suspension and possible deletion of offending members' profiles.
    </ul>
    
    <h3>11. LIMITATIONS ON LIABILITY</h3>
    <ul>
    11.1. The Exclusive shall have no Liability for any defect in the Service caused or contributed to by the User or any other Member.
    11.2. The Exclusive shall have no Liability to the User if any monies owed by the User to The Exclusive have not been paid in full by the due date for payment.
    11.3. The User shall give The Exclusive a reasonable opportunity to remedy any matter for which The Exclusive are liable before the User incurs any costs or expenses in remedying the matter. If the User does not do so, then The Exclusive shall have no Liability to the User.
    11.4. The User shall produce to The Exclusive written evidence of any claims for which it is alleged that The Exclusive are liable together with written details of how any loss was caused by The Exclusive and the steps the User have taken to mitigate the loss before The Exclusive shall have any Liability for the claim by the User.
    11.5. The Exclusive shall have no Liability to the User to the extent that the User is covered by any policy of insurance and the User shall ensure that his or her insurers waive any and all rights of subrogation they may have against The Exclusive.
    11.6. The Exclusive shall have no Liability to the User arising out of the User’s use of the Service or the User’s reliance on any information or other material Posted on the Service or Posted to the User by other Members.
    11.7. It is possible for Other Users or unauthorized users to obtain and misuse information about the User as a result of the User’s use of the Service. The Exclusive shall have no Liability to the User arising out of any Member's or unauthorized Other User's misuse of information or other material Posted by the User on the Service or to other Members.
    11.8. The Exclusive shall have no Liability to the User for any:-
    a) consequential losses (including but not limited to loss of profits, damage to goodwill, damage to reputation, loss of data, loss of programs or service interruptions);
    b) economic or other similar losses; and/or
    c) special damages and indirect losses.
    11.9. The User shall be under a duty to mitigate any loss, damage, costs or expenses that the User may suffer.
    11.10. The Exclusive’s total Liability to the User under or arising in relation to any Contract shall not exceed 5 times the amount paid by the User for the Service (if any) under that Contract or the sum of N100,000.00 whichever is the lower.
    11.11. Each of the limitations or exclusions in this Agreement shall be deemed to be repeated and apply as a separate provision for each of:
    a) Liability for breach of contract;
    b) Liability in tort (including negligence); and
    c) Liability for breach of statutory duty; except clause 11.10 above which shall apply once only in respect of all the said types of Liability.
    11.12. Nothing in this Agreement shall exclude or limit The Exclusive’s Liability for death or personal injury due to The Exclusive’s negligence or any Liability which is due to The Exclusive’s fraud or any other Liability which The Exclusive are not permitted to exclude or limit as a matter of law.
    11.13. Nothing in this Contract shall exclude or limit any of the User’s statutory rights which may not be excluded or limited due to the User acting as a consumer.
    11.14. The Exclusive shall have no Liability to the User for any delay in performance of this Service or any other matters to the extent that such events and/or matters are due to any events outside The Exclusive’s reasonable control including but not limited to acts of God, war, flood, fire, labour disputes, strikes, lock-outs, riots, civil commotion, malicious damage, explosion, governmental actions and any other similar events.
    </ul>
    
    <h3>12. INDEMNITY</h3>
    <p>
    The User agree to indemnify and keep indemnified The Exclusive against any and all losses, proceedings, lost profits, damages, awards, expenses, costs (including but not limited to increased administration costs and legal costs on a full indemnity basis), claims, actions and any other losses and/or liabilities suffered by The Exclusive and arising from or relating to the User’s use of the Service, information or any other material Posted on the Service by the User or arising from or due to any breach of contract, any tortuous act or omission or any breach of statutory duty by the User.
    </p>
    
    <h3>13. GENERAL</h3>
    <ul>
    13.1. All third party rights are excluded and no third parties shall have any right to enforce this Agreement.
    13.2. Notwithstanding the above clause, this shall not apply to members of The Exclusive Group who shall have the right to enforce this Agreement as if they were The Exclusive. Any right of a third party to enforce this Agreement may be varied or extinguished without the consent of the any such third party.
    13.3. No waiver by The Exclusive of any breach of this Agreement shall be considered as a waiver of any subsequent breach of the same provision or any other provision.
    13.4. This Agreement contains the entire agreement between the User and The Exclusive. If any provision of this Agreement is held by any competent court or authority to be invalid or unenforceable in whole or in part, the validity of the other provisions of this Agreement and the remainder of the affected provision shall be unaffected and shall remain in full force and effect.
    13.5. This Agreement is governed by and interpreted in accordance with the laws of the Federal Republic of Nigeria and the parties agree to submit to the exclusive jurisdiction of the Nigerian courts.
    </ul>

    <h3>14. PERSONAL INFORMATION</h3>
    <p>
    When you sign up as a user with The Exclusives.com the data you give on application is registered and stored by The Exclusive.com.
    Your private information, such as email address, surname, house address, office address and password, will be treated confidential and is only available to you and the database staff at The Exclusive.com.
    The Exclusive.com will not distribute or sell any of your information to a third party. Any kind of exception will only happen with your personal permission.
    </p>
    <p>It is your responsibility that the information is you give is correct.
    E-mail - Your email address will be used for correspondence in relation to The Exclusive Network, included The Exclusive Networks newsletters. Newsletters can contain advertisement of The Exclusive or a partner of The Exclusive
    IP address and location - Your IP address is stored and used in conjunction with the sites geo location system; giving a longitude and latitude of your location to within your city or town. This information is used primarily so that The Exclusives is able to conduct a member search within your area. Your location information is used to inform you of The Exclusive events and initiatives within your geographical area. This information may also be used internally for statistical reporting and to help The Exclusive provide a more tailored and reliable service to all members. Please note that your exact address is NOT determinable or shared.
    </p>
    <p>
    Cell phone numbers - You are only permitted to give your own cell phone number. It is optional to upload your number, but The Exclusive Network recommend that you do so as doing so enables you to get the most out of the systems functions such as various SMS services.
    The processing of information - The processing of all the personal information occurs pursuant to the legislation of personal information.
    </p>
    <p>
    We use your personal information in the following relations: When you log into the system, so that you can get access to your personal page.
    </p>
    <p>
    The Exclusive may from time to time send emails to the email you used when registering or applying to the service. You may be emailed if your application to The Exclusive.com was NOT successful. These emails may offer suggestions on how to aid you in being accepted to The Exclusive’s website. These suggestions may be based on aesthetic observations, images you submitted during the application process or any other observations that The Exclusive deems helpful in order to increase your chance of being accepted to the website.
    </p>
        </div>
        
        <a ng-click="start()" class="sr-go-button">Start Questions</a>
        </div>
    </div>
</div>