
<div class="sr-home-view-container">
 <img src="../assets/img/Lips.png">
  <h2 class="sr-welcome">Welcome to the Secret Room!</h2>
    <div class="sr-icon-block">
      <div  class="sr-icon-content"><a href="#/intro" class="sr-door-icon"><img src="../assets/img/door-icon.png" class="sr-icon"><p>Step In</p></a></div>
        <div class="sr-conjunct"> <p>or</p> </div>
      <div  class="sr-icon-content"><a ui-sref="about" class="sr-torch-icon"><img src="../assets/img/torch-icon.png" class="sr-icon"><p>Look Around</p></a></div>
    </div>
</div>
