
<div class="sr-intro-view-wrap">

    <div class="sr-intro-view-content">

        <p class="sr-intro-head">
           We are glad you made your way to the Secret Room in search of a partner.<br> It’s where everyone is but no one is talking about...              <br>Its Nigeria’s best kept secret!
        </p>

        <p class="sr-intro-info">
            We have put together personality questions that helps us ensure we take you a step closer to
            finding your desired partner. <br>Answering the questions takes about 30 minutes and helps us ensure only the most suitable 
            partners are identified for you.<br> Please take your time and
            answer as honestly as possible.  You can always save your responses and continue again at a later date.
        </p>

        <a ui-sref="questions" class="sr-go-button">Start Questions</a>


    </div>
</div>
